.BODYLIST {
BACKGROUND-COLOR:#F4F4F4;
FONT-SIZE:18px;
MARGIN:0px;
cursor:var(--cAuto);
}
#PAGINA {
PADDING:9px 6px 6px 6px;
cursor:var(--cAuto);
}
TABLE {
display:inline-block;
}
TD {
white-space:nowrap;
hyphens:none;
}
#O, #o {DISPLAY:none;}
#I {TEXT-ALIGN:left;}
#C {TEXT-ALIGN:center;}
#D {TEXT-ALIGN:right;}
.Visited > * {
color:#b6b6b6 !important;
font-style:italic !important;
}
#BROWSE mark {
background-color:mark !important;
color:marktext !important;
}
.BROWSE TH {
cursor:var(--cAuto);
}
.BROWSE TH[nc] {
cursor:var(--cContext);
}
.TRHidden {
display:none;
}
TR#SaltoPag {
PAGE-BREAK-AFTER:always;
}
#UtilList IMG {
vertical-align:baseline;
}
.TITULO {
MARGIN-TOP:8px;
MARGIN-BOTTOM:0px;
PADDING-BOTTOM:0px;
cursor:var(--cAuto);
}
#TITULO {
font-size:130%;
font-weight:bold;
COLOR:#555555;
}
#TITULO span {
font-size:130%;
font-weight:bold;
COLOR:#555555;
font-size:100%;
}
#TITULO .LastGetions {
font-weight:normal;
}
.TOOLBAR .TITULO {
border-bottom:1px solid #DDDDDD;
}
.Titulo2 {
font-size:100%;
font-weight:normal;
COLOR:#555555;
CURSOR:var(--cPointer);
MARGIN-BOTTOM:9px;
}
#CONDICIONES {
BACKGROUND-COLOR:transparent;
MARGIN-BOTTOM:9px;
}
#CONDICIONES TH {
BACKGROUND-COLOR:transparent;
COLOR:#555555;
CURSOR:var(--cPointer);
PADDING:0px;
TEXT-ALIGN:left;
TEXT-DECORATION:underline;
}
#CONDICIONES TD {
BACKGROUND-COLOR:transparent;
COLOR:#555555;
CURSOR:var(--cPointer);
}
.CHANGEFILTER {
color:#555555;
}
.ButtonMultiple TABLE {
margin-left:6px;
}
.ButtonMultiple TD:nth-child(1) TABLE {
margin-left:0px;
}
.ButtonMultiple TD {
font-size:18px;
padding:1px 0px 1px 0px !important;
}
#SubTitle {
display:contents;
}
#SubTitle TABLE {
font-size:100%;
font-weight:normal;
COLOR:#555555;
BACKGROUND-COLOR:transparent;
MARGIN-BOTTOM:0px;
}
.MarkedRow {
BACKGROUND-COLOR:#F4F6F7 !important;
COLOR:#000000 !important;
}
#FootTitle {
font-size:100%;
font-weight:normal;
COLOR:#555555;
MARGIN-TOP:9px;
}
#Paginacion {
MARGIN-TOP:9px;
}
.Flotante {
BACKGROUND-COLOR:#bbbbbb;
}
#sT {
BACKGROUND-COLOR:transparent;
COLOR:#555555;
FONT-SIZE:100%;
}
.Celda2 {
BACKGROUND-COLOR:#DDDDDD;
COLOR:#0b0011;
}
.JSOnClickRow {
BACKGROUND-COLOR:#f2f3df !important;
CURSOR:var(--cPointer);
}
HR {
BACKGROUND-COLOR:#336600;
COLOR:#332211;
}
.SelectON {
BACKGROUND-COLOR:#ffd2c0 !important;
COLOR:#000000 !important;
}
.ISubListBODY {
BACKGROUND-COLOR:#fafafa;
}
#ToolsPaginate .ReadOnly {
BACKGROUND-COLOR:#dcf3ff;
COLOR:#333333;
}
#CngRESPUESTA {
BACKGROUND-COLOR:#789aab;
BORDER:#789aab 2px outset;
COLOR:#ffffff;
CURSOR:var(--cPointer);
FONT-SIZE:130%;
FONT-WEIGHT:bold;
PADDING-TOP:19px 39px 19px 39px;
}
#MensaError {
BACKGROUND-COLOR:#ff0000;
BORDER:#aa2200 4px solid;
COLOR:#ffffcc;
FONT-SIZE:130%;
FONT-WEIGHT:bold;
PADDING-TOP:19px 39px 19px 39px;
}
.iWIN {
BACKGROUND-COLOR:#ffffce;
BORDER:#ffffce 2px outset;
PADDING-BOTTOM:6px;
PADDING-LEFT:6px;
PADDING-RIGHT:6px;
PADDING-TOP:5px;
}
.Cargando {
COLOR:#979da0;
CURSOR:var(--cPointer);
FONT-SIZE:18px;
TEXT-ALIGN:center;
VERTICAL-ALIGN:middle;
}
#MasInfo {
display:none;
text-align:left;
--white-space:nowrap;
padding:13px 19px 13px 19px;
cursor:var(--cPointer);
position:absolute;
border:1px solid #e2e3e3;
color:#000000 !important;
background:#fbfcfc;
background:-moz-linear-gradient(top, #fbfcfc 0%, #e2e3e3 100%);
background:-webkit-linear-gradient(top, #fbfcfc 0%, #e2e3e3 100%);
background:linear-gradient(to bottom, #fbfcfc 0%, #e2e3e3 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfc', endColorstr='#e2e3e3', GradientType=0);
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
box-shadow:4px 4px 6px rgba(0,0,0,0.2);
-moz-box-shadow:4px 4px 6px rgba(0,0,0,0.2);
-webkit-box-shadow:4px 4px 6px rgba(0,0,0,0.2);
}
#MasInfo CENTER {
FONT-WEIGHT:bold;
}
.EditList {
BACKGROUND-COLOR:#F4F6F7;
COLOR:#000000;
CURSOR:var(--cContext);
}
.EditListGreenBar {
BACKGROUND-COLOR:#F4F6F7;
COLOR:#000000;
}
.EditListCursor {
BACKGROUND-COLOR:#cec384 !important;
}
.SelectList {
BORDER:#584f1e 1px solid;
HEIGHT:193px;
}
.SelectList TABLE {
BACKGROUND-COLOR:#d1c282;
}
.SelectList TD {
BACKGROUND-COLOR:#ffed9f;
COLOR:#6f6100;
}
.SelectList .SelON {
BACKGROUND-COLOR:#cfc081;
COLOR:#6f6100;
}
#GC1 {
BACKGROUND-COLOR:#2692BA;
COLOR:#06006F;
FONT-SIZE:120%;
FONT-WEIGHT:bold;
PADDING-LEFT:2px;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR1 {
BACKGROUND-COLOR:#B3B6B7;
COLOR:#06006F;
FONT-SIZE:120%;
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD1 {
PADDING-LEFT:2px;
}
#GRCOL1 {
PADDING-LEFT:19px;
}
#GC2 {
BACKGROUND-COLOR:#51A8C8;
COLOR:#06006F;
FONT-SIZE:110%;
FONT-WEIGHT:bold;
PADDING-LEFT:19px;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR2 {
BACKGROUND-COLOR:#C2C4C5;
COLOR:#06006F;
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD2 {
PADDING-LEFT:19px;
}
#GRCOL2 {
PADDING-LEFT:32px;
}
#GC3 {
BACKGROUND-COLOR:#7DBED6;
COLOR:#06006F;
FONT-WEIGHT:bold;
PADDING-LEFT:32px;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR3 {
BACKGROUND-COLOR:#D1D3D4;
COLOR:#06006F;
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD3 {
PADDING-LEFT:32px;
}
#GRCOL3 {
PADDING-LEFT:45px;
}
#GC4 {
BACKGROUND-COLOR:#A8D4E4;
COLOR:#06006F;
PADDING-LEFT:35px;
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR4 {
BACKGROUND-COLOR:#E1E2E2;
COLOR:#06006F;
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD4 {
PADDING-LEFT:35px;
}
#GRCOL4 {
PADDING-LEFT:45px;
}
.SubMenu {
BACKGROUND-COLOR:#ffffff;
BORDER:#cccccc 1px outset;
POSITION:absolute;
}
.SubMenu TR {
BACKGROUND-COLOR:#ffffff;
COLOR:#000000;
FONT-SIZE:90%;
FONT-WEIGHT:normal;
}
.SubMenu TD {
CURSOR:var(--cPointer);
}
.SubMenu .ON {
BACKGROUND-COLOR:#fcf3ef;
COLOR:#000000;
FONT-WEIGHT:normal;
}
.SubMenu .Linea {
BACKGROUND-COLOR:#808080;
CURSOR:var(--cPointer);
FONT-SIZE:1px;
}
.SubMenu .TITULO {
BACKGROUND-COLOR:#cf4000;
BORDER-BOTTOM:#c8c3c0 1px outset;
COLOR:#ffffff;
FONT-SIZE:100%;
CURSOR:var(--cPointer);
TEXT-ALIGN:center;
}
.SubMenu .FilterSubTitle {
BACKGROUND-COLOR:#d9dee3;
BORDER-BOTTOM:#b0b4b8 1px solid;
COLOR:#000000;
TEXT-ALIGN:center;
}
.CALCULATOR {
BACKGROUND-COLOR:#FFFFFF;
BORDER:#e6e6e6 1px solid;
PADDING:0px;
TOP:0px;
box-shadow:4px 4px 6px rgba(0,0,0,0.2);
-moz-box-shadow:4px 4px 6px rgba(0,0,0,0.2);
-webkit-box-shadow:4px 4px 6px rgba(0,0,0,0.2);
}
.CALCULATOR TABLE {
border-collapse:collapse;
}
.CALCULATOR TABLE TR {
BACKGROUND-COLOR:#FFFFFF;
COLOR:#333333;
font-size:90%;
font-weight:normal;
}
.CALCULATOR TABLE TH {
BACKGROUND-COLOR:#F9F9F9;
COLOR:#000000;
}
.CALCULATOR TABLE I {
COLOR:#000000;
}
.CALCULATOR TABLE TD {
}
.CALCULATOR .Linea {
BORDER-BOTTOM:#e6e6e6 1px solid;
}
.SubMenuFoot {
border-top:1px solid #BCA7B4;
border-collapse:collapse;
}
.SubMenuFoot TD {
padding:0px;
background-color:white;
}
.SubMenuFoot TABLE {
border-collapse:collapse;
}
.SubMenuFoot TABLE TD {
padding:4px;
}
.SubMenuFoot .ON {
BACKGROUND-COLOR:#cf0c00;
COLOR:#f7efff;
}
.SubMenuFoot .Separator {
border-right:1px solid #BCA7B4;
}
.CHART_STORE {
display:none;
text-align:center;
margin:6px 6px 0px 6px;
}
.CHART_SYSTEM, .CHART_USER {
margin:6px;
float:left;
}
.HTML_IN_TD {
display:table;
}
.HTML_IN_TD TBODY TR {
background-color:transparent;
}
.HTML_IN_TD #CNT {
display:table-cell;
text-align:left;
}
.MENUFOOTLIST {
DISPLAY:table;
BACKGROUND-COLOR:#FFFFFF;
COLOR:#333333;
bottom:0px;
border-top:#e6e6e6 1px outset;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:0px;
}
.MENUFOOTLIST TD {
padding-right:20px;
font-size:130%;
font-weight:normal;
}
.MENUFOOTLIST TD.OP:hover {
BACKGROUND-COLOR:#FEF9E7;
COLOR:#000000;
CURSOR:var(--cPointer);
}
.MENUFOOTLIST_ON {
BACKGROUND-COLOR:#FEF9E7;
COLOR:#000000;
}
.MENUFOOTLIST .SEPARATOR {
border-left:#e6e6e6 1px outset;
width:1px;
padding:0px;
}
#MenuFootLeft {
border-right:1px solid #e6e6e6;
padding:3px 4px 3px 2px;
background-color:#FFFFFF;
}
#MenuFootRight {
border-left:1px solid #e6e6e6;
padding:3px 3px 3px 4px;
background-color:#FFFFFF;
}
#MenuFootLeft:hover, #MenuFootRight:hover {
background-color:#FEF9E7;
}
#TablaTH {
-webkit-box-shadow:0px 5px 0px 0px rgba(200, 200, 200, 0.2);
-moz-box-shadow:0px 5px 0px 0px rgba(200, 200, 200, 0.2);
box-shadow:0px 5px 0px 0px rgba(200, 200, 200, 0.2);
}
#TablaTV, #TablaTE {
-webkit-box-shadow:5px 0px 0px 0px rgba(200, 200, 200, 0.2);
-moz-box-shadow:5px 0px 0px 0px rgba(200, 200, 200, 0.2);
box-shadow:5px 0px 0px 0px rgba(200, 200, 200, 0.2);
}
.MENULTOOLS {
visibility:hidden;
position:fixed;
right:1px;
}
.MENULTOOLS I {
vertical-align:top;
cursor:var(--cPointer);
}
.MENULTOOLS TD {
vertical-align:text-bottom;
padding:8px;
cursor:var(--cPointer);
}
.MENULTOOLS .SUBMENU TD {
display:table-cell;
}
.MENULTOOLS:hover td:nth-child(2) {
display:table-cell;
text-align:left;
}
#MENUTRFLOAT {
position:absolute;
left:0px;
top:0px;
visibility:hidden;
padding-left:15px;
padding-right:5px;
}
#MENUTRFLOAT > * {
padding-left:5px;
}
.MENUTROPACITY {
opacity:0.2;
filter:alpha(opacity:20);
cursor:var(--cPointer);
}
.ToolsBar {
display:block;
background-color:#ffffff;
color:#555555;
margin-top:10px;
margin-bottom:10px;
text-align:left;
font-size:12px;
padding-top:5px;
padding-bottom:5px;
cursor:var(--cAuto);
}
.ToolsBar I {
font-size:15px;
}
.ToolsBar .Button I {
margin-right:5px;
}
.ToolsTDIZQ {
display:table-cell;
white-space:nowrap;
}
.ToolsTDIZQ I {
font-size:15px;
color:#1B6B8D;
}
.ToolsTDDCH {
display:table-cell;
text-align:right;
white-space:nowrap;
width:100%;
}
.ToolsTDDCH I {
font-size:11px;
}
.ToolsBar {
background-color:#ffffff;
color:#555555;
margin-top:10px;
margin-bottom:10px;
text-align:left;
font-size:12px;
}
.ToolsBar I {
font-size:15px;
}
.PaginationBar {
display:flex;
background-color:#ffffff;
color:#555555;
margin-top:10px;
margin-bottom:10px;
text-align:left;
font-size:12px;
white-space:nowrap;
}
.PaginationBar I {
font-size:7px;
}
.Button {
border:1px solid #d0d0d0;
display:inline-flex;
padding:0px;
align-items:center;
}
.ButtonIn {
border:none;
background-color:#f2f2f2;
color:#555555;
padding:8px 10px 6px 10px;
cursor:var(--cPointer) !important;
}
.ButtonIn:hover {
background-color:#2488ad;
color:#FFFFFF;
}
.ButtonIn:hover I {
background-color:#2488ad;
color:#FFFFFF;
}
.ButtonIn:active {
background-color:#217ea0;
color:#FFFFFF;
}
.ButtonIn span {
margin-left:7px;
}
.ButtonInNO {
border:0px solid green;
background-color:#f2f2f2;
color:#555555;
padding:8px 10px 6px 10px;
}
.Activated {
background-color:#217ea0;
color:#FFFFFF;
}
.NoRight {
border-top-right-radius:0px;
border-bottom-right-radius:0px;
min-width:15px;
text-align:center;
}
.NoLeft {
border-left:1px solid #d0d0d0;
border-top-left-radius:0px;
border-bottom-left-radius:0px;
min-width:15px;
text-align:center;
}
.NoCenter {
border-left:1px solid #d0d0d0;
border-radius:0px;
min-width:15px;
text-align:center;
}
.MasMargin {
padding-left:20px;
padding-right:20px;
}
.ButtonMargin {
width:30px;
display:inline-block;
}
.SELECT * {
display:block;
}
.SELECT TD {
display:block;
}
.SELECT .MONOSPACE TD {
font-family:monospace;
}
#CONTENEDOR .card:first-of-type {
--margin-left:15px;
}
.CONTENEDORCARD {
display:none;
float:left;
margin-top:10px;
margin-bottom:0px;
}
.card {
border:1px solid #dddddd;
color:#333333;
background-color:#ffffff;
margin:0px 20px 20px 0px;
padding:7px 0px 5px 0px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
float:left;
}
.card .title-color {
color:#123A53;
}
.card-title {
display:inline-table;
padding-top:15px;
font-weight:bold;
font-size:15px;
color:#123A53;
-margin:0 0 10px;
white-space:nowrap;
width:100%;
line-height:0px;
}
.card-separator {
display:block;
background-color:#123A53;
height:1px;
margin-top:5px;
margin-bottom:3px;
margin-left:0px;
margin-right:0px;
width:100%;
}
.card table {
display:table;
border-collapse:collapse;
width:100%;
margin-left:10px;
margin-right:10px;
padding:5px 10px 10px 10px;
}
.card-line {
display:table-cell;
padding:0px;
background-color:#aaaaaa;
height:1px;
}
.card table td:nth-child(1) {
font-weight:bold;
padding-right:10px;
width:1px;
}
.card table td:nth-child(2) {
width:100%;
}
#filterTR {
font-size:14px;
width:230px;
height:20px;
-webkit-border-radius:15px;
-moz-border-radius:15px;
border-radius:15px;
padding-left:35px !important;
}
#spanFilterTR:before {
font-family:eDes;
font-size:12px;
content:"f";
left:30px;
position:relative;
color:#dddddd;
}