.BODYTAB, .BODYMESSAGE{
BACKGROUND-COLOR:#F4F4F4;
MARGIN:0px;
font-size:14px;
}
#O, #o {DISPLAY:none;}
#C {TEXT-ALIGN:center;}
#D {TEXT-ALIGN:right;}
#v{
PADDING-LEFT:5px;
}
#S{
PADDING-LEFT:10px;
WIDTH:10px;
}
NOBR{
vertical-align:top;
}
#LD{
margin-left:2px;
}
#LC{
margin-left:10px;
}
#LD, #LC{
border-width:0px;
text-align:right;
display:inline-table;
margin-top:0px;
margin-bottom:0px;
color:#555555;
}
TD #LD{
vertical-align:initial !important;
}
#LD LABEL{
vertical-align:text-top !important;
}
#LC LABEL{
vertical-align:text-top !important;
}
FIELDSET #LC{
margin-bottom:0px;
}
.okGRABADO{
COLOR:#cf4000;
FONT-SIZE:160%;
FONT-WEIGHT:bold;
}
.errGRABADO{
COLOR:#fff3ef;
FONT-SIZE:160%;
FONT-WEIGHT:bold;
}
.noButton{
HEIGHT:10px;
}
.CheckBox{
BORDER-BOTTOM:0px;
BORDER-LEFT:0px;
BORDER-RIGHT:0px;
BORDER-TOP:0px;
MARGIN-BOTTOM:1px;
MARGIN-LEFT:3px;
}
.CheckBoxL{
BORDER-BOTTOM:0px;
BORDER-LEFT:0px;
BORDER-RIGHT:0px;
BORDER-TOP:0px;
MARGIN-TOP:3px;
}
.RadioF{
}
.RadioF SPAN{
color:#555555;
}
.RadioL{
}
.RadioL SPAN{
color:#555555;
padding-left:0px;
}
#zTitulo{
COLOR:#191919;
FONT-SIZE:113%;
PADDING-BOTTOM:6px;
PADDING-LEFT:10px;
PADDING-RIGHT:10px;
PADDING-TOP:0px;
TEXT-TRANSFORM:uppercase;
}
.SubLista TH{
FONT-WEIGHT:normal;
}
TD{
CURSOR:default;
VERTICAL-ALIGN:middle;
WHITE-SPACE:nowrap;
hyphens:none;
}
HR{
COLOR:#47007f;
HEIGHT:1px;
}
.HR_txt{
COLOR:#621004;
FONT-SIZE:14px;
}
.if_HR{
COLOR:#999999;
}
.if_HR_txt{
COLOR:#002649;
}
.UBICACION{
BACKGROUND-COLOR:#ff0000;
COLOR:#ffffff;
FONT-SIZE:110%;
TEXT-ALIGN:left;
WHITE-SPACE:nowrap;
}
#SolapaOn{
COLOR:#ffffff;
}
#SolapaOff{
COLOR:#000000;
}
.FcOn{
BACKGROUND-COLOR:#ffffe7;
COLOR:#000f78;
}
.FcOnText{
BACKGROUND-COLOR:#ffffe7;
COLOR:#000f78;
}
.FcOff{
BACKGROUND-COLOR:#efffff;
COLOR:#001f78;
}
.ReadOnly{
BACKGROUND-COLOR:#d5e9e9;
COLOR:#001f78;
}
TD.SbMenuOn{
BACKGROUND-COLOR:#c4ce9a;
COLOR:#7a5334;
CURSOR:pointer;
}
TD.SbMenuOff{
BACKGROUND-COLOR:#c4ce9a;
COLOR:#7a5334;
CURSOR:pointer;
}
SELECT{
BORDER:#C3C3C3 1px solid;
FONT-SIZE:100%;
MARGIN-LEFT:5px;
}
TEXTAREA{
FONT-SIZE:100%;
MARGIN-LEFT:5px;
PADDING-LEFT:2px;
}
INPUT{
FONT-SIZE:100%;
MARGIN-BOTTOM:0px;
MARGIN-LEFT:5px;
MARGIN-RIGHT:0px;
PADDING-LEFT:2px;
PADDING-RIGHT:2px;
}
#SelBROWSER{
BACKGROUND-COLOR:#ffffe7;
COLOR:#000f78;
BORDER:#6c7b82 1px solid;
CURSOR:pointer;
DISPLAY:none;
FLOAT:left;
MARGIN:0px;
OVERFLOW:auto;
POSITION:absolute;
}
#SelBROWSER TD{
PADDING-LEFT:3px;
PADDING-RIGHT:6px;
WHITE-SPACE:nowrap;
}
#SelBROWSER #Over{
BACKGROUND-COLOR:#001c96;
COLOR:#ffffff;
}
#SelBROWSER #Selected{
BACKGROUND-COLOR:#005eb4;
COLOR:#ffffff;
}
.e--rror{
BACKGROUND-COLOR:#ff3a2d;
}
.FbOn{
BACKGROUND-COLOR:#ffffcc;
COLOR:#000000;
}
.FbOff{
BACKGROUND-COLOR:#ffffcc;
COLOR:#000000;
}
#DRAGANDDROP{
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
color:#555555;
background-color:rgba(5,5,5,0.3);
padding:10px;
z-index:90000;
}
#DRAGANDDROP TD{
border:5px dashed #555555;
font-size:250%;
text-align:center;
vertical-align:middle;
}
#MESSAGE_OK{
BORDER:#0c4913 1px outset;
color:#FFFFFF !important;
background:#58955f;
background:-moz-linear-gradient(top, #58955f 0%, #0c4913 100%);
background:-webkit-linear-gradient(top, #58955f 0%, #0c4913 100%);
background:linear-gradient(to bottom, #58955f 0%, #0c4913 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#58955f', endColorstr='#0c4913', GradientType=0);
CURSOR:default;
PADDING-BOTTOM:7px;
PADDING-LEFT:14px;
PADDING-RIGHT:14px;
PADDING-TOP:7px;
box-shadow:5px 5px 5px rgba(0,0,0,0.2);
-moz-box-shadow:5px 5px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.2);
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}
#MESSAGE_OK TD{
COLOR:#FFFFFF;
font-size:130%;
font-weight:bold;
}
#MESSAGE_ERROR{
BORDER:#b30000 1px outset;
color:#FFFFFF !important;
background:#ff4c4c;
background:-moz-linear-gradient(top, #ff4c4c 0%, #b30000 100%);
background:-webkit-linear-gradient(top, #ff4c4c 0%, #b30000 100%);
background:linear-gradient(to bottom, #ff4c4c 0%, #b30000 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4c4c', endColorstr='#b30000', GradientType=0);
CURSOR:default;
PADDING-BOTTOM:7px;
PADDING-LEFT:14px;
PADDING-RIGHT:14px;
PADDING-TOP:7px;
box-shadow:5px 5px 5px rgba(0,0,0,0.2);
-moz-box-shadow:5px 5px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.2);
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}
#MESSAGE_ERROR TD{
COLOR:#FFFFFF;
font-size:130%;
font-weight:bold;
}
FIELDSET{
BACKGROUND-COLOR:transparent;
COLOR:#555555;
BORDER:1px #DDDDDD solid;
WIDTH:100%;
CURSOR:default;
vertical-align:middle;
}
FIELDSET LEGEND{
COLOR:#123A53;
margin-left:7px;
margin-right:5px;
cursor:default;
}
FIELDSET TABLE{
BACKGROUND-COLOR:transparent;
}
.CAJA{
line-height:1.2;
color:#555555;
}
.SubLista{
BORDER:#555555 1px solid;
MARGIN-LEFT:3px;
}
.SubLista TABLE{
BACKGROUND-COLOR:#DDDDDD;
{fSubList}
}
.SubLista TABLE TH{
BACKGROUND-COLOR:#F9F9F9;
COLOR:#555555;
{fSubListHeader}
}
.SubLista TABLE TD{
BACKGROUND-COLOR:#FFFFFF;
COLOR:#555555;
FONT-SIZE:90%;
WHITE-SPACE:nowrap;
}
.SubLista #PieLista{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
}
.SubMenuSL{
BACKGROUND-COLOR:menu;
BORDER:buttonhighlight 2px outset;
CURSOR:pointer;
FONT-SIZE:110%;
PADDING:0px;
}
.SubMenuSL TD{
BACKGROUND-COLOR:menu;
CURSOR:pointer;
PADDING-TOP:1px 6px 1px 6px;
WHITE-SPACE:nowrap;
}
.SubMenuSL .On{
BACKGROUND-COLOR:#aaaaaa;
COLOR:#ffffff;
}
.BarraMenu{
BACKGROUND-COLOR:#99b3c0;
BORDER:buttonhighlight 0px outset;
FONT-SIZE:90%;
PADDING-BOTTOM:0px;
PADDING-LEFT:0px;
PADDING-RIGHT:0px;
PADDING-TOP:0px;
WIDTH:100%;
}
.OpFOn{
BACKGROUND-COLOR:#d8dcdf;
BORDER:#0009a5 0px solid;
COLOR:#0036d2;
PADDING-LEFT:6px;
PADDING-RIGHT:6px;
POSITION:relative;
TOP:1px;
}
.OpFOff{
BACKGROUND-COLOR:#bdc0c3;
BORDER:#7f7f7f 1px solid;
COLOR:#000000;
PADDING-LEFT:6px;
PADDING-RIGHT:6px;
POSITION:relative;
TOP:1px;
}
.OpFOn_1{
BACKGROUND-COLOR:#d8dcdf;
BORDER:#0009a5 0px solid;
COLOR:#4f74e0;
CURSOR:pointer;
PADDING-LEFT:6px;
PADDING-RIGHT:6px;
POSITION:relative;
TOP:1px;
}
.OpFOff_1{
BACKGROUND-COLOR:#bdc0c3;
BORDER:#7f7f7f 1px solid;
COLOR:#0025c3;
CURSOR:pointer;
PADDING-LEFT:6px;
PADDING-RIGHT:6px;
POSITION:relative;
TOP:1px;
}
.ExeOutF{
BACKGROUND-COLOR:#cccccc;
BORDER:#c3c3c3 2px outset;
COLOR:#000000;
LEFT:-7px;
MARGIN-BOTTOM:5px;
MARGIN-TOP:5px;
PADDING-BOTTOM:0px;
PADDING-LEFT:10px;
PADDING-RIGHT:10px;
PADDING-TOP:0px;
POSITION:relative;
TOP:-1px;
}
.ExeOverF{
BACKGROUND-COLOR:#0f4af0;
BORDER:#0f4af0 2px outset;
COLOR:#ffffff;
CURSOR:pointer;
LEFT:-7px;
MARGIN-BOTTOM:5px;
MARGIN-TOP:5px;
PADDING-BOTTOM:0px;
PADDING-LEFT:10px;
PADDING-RIGHT:10px;
PADDING-TOP:0px;
POSITION:relative;
TOP:-1px;
}
.ExeOutG{
BACKGROUND-COLOR:#cccccc;
BORDER:#c3c3c3 2px outset;
COLOR:#000000;
FONT-WEIGHT:bold;
FormType:;
LEFT:-7px;
PADDING-BOTTOM:0px;
PADDING-LEFT:10px;
PADDING-RIGHT:10px;
PADDING-TOP:0px;
POSITION:relative;
TOP:-1px;
}
.ExeOverG{
BACKGROUND-COLOR:#0f4af0;
BORDER:#0f4af0 2px outset;
COLOR:#ffffff;
CURSOR:pointer;
FONT-WEIGHT:bold;
FormType:;
LEFT:-7px;
PADDING-BOTTOM:0px;
PADDING-LEFT:10px;
PADDING-RIGHT:10px;
PADDING-TOP:0px;
POSITION:relative;
TOP:-1px;
}
.Cargando{
BORDER-WIDTH:0px;
COLOR:#000000;
CURSOR:default;
FONT-SIZE:14px;
PADDING:0px 0px 0px 0px;
TEXT-ALIGN:center;
}
SubVentana{
SubWin:;
}
.SubWin{
BORDER:#9ca7b5 2px outset;
}
.SubWin TH{
BACKGROUND-COLOR:#9ca7b5;
COLOR:#002778;
}
.SubWin TD{
BACKGROUND-COLOR:#c0cedf;
COLOR:#4e535a;
PADDING:3px 3px 3px 3px;
}
.iWIN{
BACKGROUND-COLOR:#ffffce;
BORDER:#7c7c7c 1px outset;
PADDING:4px 5px 5px 5px;
}
.LineSubModos{
BORDER-TOP:#9dacb4 1px solid;
HEIGHT:1px;
PADDING-LEFT:15px;
}
.CheckListContainer{
border:1px solid #C3C3C3;
}
.CheckList{
MARGIN-LEFT:2px;
}
.CheckListImg{
}
.CheckListText{
}
#edCONTAINER *{
font-size:100%;
}
#edCONTAINER{
BORDER:1px solid #C3C3C3;
MARGIN-BOTTOM:1px;
MARGIN-LEFT:5px;
MARGIN-TOP:1px;
line-height:1.2;
border-radius:5px;
}
#edCONTAINER SPAN{
CURSOR:default;
MARGIN:0px;
display:table;
padding-left:5px !important;
padding-right:5px !important;
padding-top:5px !important;
padding-bottom:5px !important;
border-radius:5px;
}
.edOUT{
BACKGROUND-COLOR:#FFFFFF;
COLOR:#555555;
}
.edOVER{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
}
.edREADONLY{
BACKGROUND-COLOR:#E1E1E1;
COLOR:#4C4B4B;
}
#edMENUS{
BORDER:1px solid #C3C3C3;
BACKGROUND-COLOR:#FDFDE4;
line-height:0px;
}
#edMENUS IMG{
BORDER-WIDTH:0px;
MARGIN:0px;
PADDING:0px;
}
#edCOLORES{
border-collapse:collapse;
border:#6c7b82 1px solid;
cursor:default;
display:none;
padding:0px;
position:absolute;
}
#edCOLORES TD{
HEIGHT:10px;
WIDTH:10px;
}
.LstFieldBrowser{
MARGIN-LEFT:3px;
line-height:23px;
}
#TABBorder{
BORDER-SPACING:initial;
BACKGROUND-COLOR:#FFFFFF;
BORDER:1px solid #DDDDDD;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
}
#TABBorder TD{
padding:1px;
}
#TABBody{
padding-left:5px !important;
padding-right:5px !important;
padding-top:0px !important;
padding-top:0px !important;
display:table;
text-align:left;
vertical-align:top;
}
.TABHeaderTitle{
font-size:113%;
font-weight:bold;
text-align:left;
padding-left:8px !important;
}
#TABHeader{
BACKGROUND-COLOR:#F9F9F9;
COLOR:#555555;
FONT-WEIGHT:bold;
BORDER-SPACING:initial;
BORDER-BOTTOM:#DDDDDD 1px solid;
PADDING:3px;
TEXT-ALIGN:center;
height:30px;
-moz-border-radius:4px 4px 0px 0px;
-webkit-border-radius:4px 4px 0px 0px;
border-radius:4px 4px 0px 0px;
}
#TABHeaderIcons{
PADDING:0px;
}
.TABFootButton{
TEXT-ALIGN:right;
}
.TABFootButton IMG{
vertical-align:middle;
}
#GetCondition  TD{
background-color:#FFFFFF;
}
#GetCondition .BROWSE TBODY TR:hover>TD{
background-color:#FFFFFF !important;
}
#GetCondition TBODY TR TD .AddButton TBODY TR TD{
background-color:transparent !important;
}
A .AddButton{
margin-left:5px;
padding-right:5px;
padding-left:5px;
padding-top:0px !important;
padding-bottom:0px !important;
}
A .AddButton TD{
font-size:110% !important;
padding:0px !important;
}
A .AddButton .ICONSUBMIT{
padding-top:2px !important;
}
A .AddButton I{
font-size:60% !important;
padding-right:3px !important;
}
.Separator{
height:1px;
BACKGROUND-COLOR:#DDDDDD;
}
HR{
border-width:0px;
BACKGROUND-COLOR:#DDDDDD;
}
#TABGroupInner{
PADDING-LEFT:4px;
}
#TABGroupInner #TABMenu{
FONT-SIZE:110%;
MARGIN-BOTTOM:6px;
MARGIN-TOP:4px;
}
#TABGroupInner #TABMenu TD{
TEXT-TRANSFORM:capitalize;
padding:5px 10px 5px 10px;
}
#TABGroupInner .TABMenuSeparator{
BACKGROUND-COLOR:transparent;
BORDER-BOTTOM:#DDDDDD 1px solid;
CURSOR:default;
PADDING-LEFT:2px;
}
#TABGroupInner .TABMenuOn{
BACKGROUND-COLOR:transparent;
COLOR:#123A53;
BORDER:#DDDDDD 1px solid;
}
#TABGroupInner .TABMenuOn:hover{
BACKGROUND-COLOR:#FEF9E7;
COLOR:#000000;
BORDER:#DDDDDD 1px solid;
CURSOR:pointer;
}
#TABGroupInner .TABMenuOff{
BACKGROUND-COLOR:#e6e6e6;
COLOR:#4d4d4d;
BORDER:#DDDDDD 1px solid;
}
#TABGroupInner .TABMenuOff:hover{
BACKGROUND-COLOR:#FEF9E7;
BORDER:#DDDDDD 1px solid;
COLOR:#000000;
CURSOR:pointer;
}
.TABGroupOuter{
padding-top:5px;
}
.TABGroupOuter #TABMenu TD{
}
.TABGroupOuter #TABMenu TD:hover{
}
.TABGroupOuter #TABMenu .TABMenuSeparator{
}
.TABGroupOuter #TABMenu{
FONT-SIZE:110%;
MARGIN-BOTTOM:6px;
MARGIN-TOP:4px;
}
.TABGroupOuter #TABMenu TD{
padding:3px 8px 3px 8px;
TEXT-TRANSFORM:capitalize;
font-size:113%;
font-weight:normal;
}
.TABGroupOuter .TABMenuSeparator{
BACKGROUND-COLOR:transparent;
BORDER-BOTTOM:#DDDDDD 1px solid;
CURSOR:default;
PADDING-LEFT:2px !important;
PADDING-RIGHT:1px !important;
}
.TABGroupOuter .TABMenuOn{
BACKGROUND-COLOR:transparent;
COLOR:#123A53;
BORDER-LEFT:#DDDDDD 1px solid;
BORDER-RIGHT:#DDDDDD 1px solid;
BORDER-TOP:#DDDDDD 1px solid;
BORDER-BOTTOM:transparent 1px solid;
}
.TABGroupOuter .TABMenuOn:hover{
BACKGROUND-COLOR:#FEF9E7;
COLOR:#000000;
BORDER:#DDDDDD 1px solid;
CURSOR:pointer;
}
.TABGroupOuter .TABMenuOff{
BACKGROUND-COLOR:#e6e6e6;
COLOR:#4d4d4d;
BORDER:#DDDDDD 1px solid;
}
.TABGroupOuter .TABMenuOff:hover{
BACKGROUND-COLOR:#FEF9E7;
BORDER:#DDDDDD 1px solid;
COLOR:#000000;
CURSOR:pointer;
}
.TABMenuContainer .TABMenu{
FONT-SIZE:110%;
MARGIN-BOTTOM:6px;
MARGIN-TOP:4px;
}
.TABMenuContainer .TABMenu TD{
TEXT-TRANSFORM:capitalize;
PADDING:2px 4px 1px 4px !important;
}
.TABMenuContainer .TABMenuSeparator{
BACKGROUND-COLOR:transparent;
BORDER-BOTTOM:#DDDDDD 1px solid;
CURSOR:default;
PADDING-LEFT:2px !important;
PADDING-RIGHT:1px !important;
}
.TABMenuContainer .TABMenuOn{
BACKGROUND-COLOR:transparent;
COLOR:#123A53;
BORDER-LEFT:#DDDDDD 1px solid;
BORDER-RIGHT:#DDDDDD 1px solid;
BORDER-TOP:#DDDDDD 1px solid;
BORDER-BOTTOM:transparent 1px solid;
}
.TABMenuContainer .TABMenuOn:hover{
BACKGROUND-COLOR:#FEF9E7;
COLOR:#000000;
BORDER:#DDDDDD 1px solid;
CURSOR:pointer;
}
.TABMenuContainer .TABMenuOff{
BACKGROUND-COLOR:#e6e6e6;
COLOR:#4d4d4d;
BORDER:#DDDDDD 1px solid;
}
.TABMenuContainer .TABMenuOff:hover{
BACKGROUND-COLOR:#FEF9E7;
BORDER:#DDDDDD 1px solid;
COLOR:#000000;
CURSOR:pointer;
}
.TABMenuOne .TABMenuSeparator{
BACKGROUND-COLOR:transparent;
BORDER-BOTTOM:#DDDDDD 1px solid;
BORDER-LEFT-WIDTH:0px;
BORDER-RIGHT-WIDTH:0px;
BORDER-TOP-WIDTH:0px;
CURSOR:default;
PADDING-LEFT:2px;
PADDING-RIGHT:0px;
}
.TABMenuOne .TABOnly{
BACKGROUND-COLOR:transparent;
BORDER-LEFT:#DDDDDD 1px solid;
BORDER-RIGHT:#DDDDDD 1px solid;
BORDER-TOP:#DDDDDD 1px solid;
COLOR:#123A53;
PADDING:2px 5px 2px 5px !important;
CURSOR:pointer;
}
#ETIQUETAS{
position:absolute;
BACKGROUND-COLOR:#bfbfbf;
}
#ETIQUETAS TD{
BACKGROUND-COLOR:#efefef;
CURSOR:pointer;
HEIGHT:20px;
WIDTH:30px;
}
#ETIQUETAS .EtiSel{
BACKGROUND-COLOR:#bfbfbf;
}
#n0 {padding-left:5px !important;}
#n1 {padding-left:22px !important;}
#n2 {padding-left:39px !important;}
#n3 {padding-left:56px !important;}
#n4 {padding-left:73px !important;}
#n5 {padding-left:90px !important;}
#n6 {padding-left:107px !important;}
#n7 {padding-left:124px !important;}
#n8 {padding-left:141px !important;}
#n9 {padding-left:158px !important;}
.SelectedTree{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
}
.SelectTreeOn{
BACKGROUND-COLOR:#000000;
COLOR:#FDFDE4;
}
.ISubList{
BORDER:#cccccc 1px solid;
margin-left:5px;
}
#LstPASTE{
POSITION:absolute;
BACKGROUND-COLOR:#FFFFFF;
BORDER:#e6e6e6 1px solid;
COLOR:#333333;
border-spacing:1px;
border-collapse:separate;
z-index:99999;
}
#LstPASTE td{
PADDING:1px 2px 1px 2px;
cursor:pointer;
font-size:90%;
font-weight:normal;
}
#LstPASTE tr:hover{
BACKGROUND-COLOR:#FEF9E7;
COLOR:#000000;
}
.__Select{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
BORDER:1px #C3C3C3 solid;
CURSOR:pointer;
DISPLAY:none;
MARGIN:0px;
--OVERFLOW:auto;
POSITION:absolute;
}
.__Select TABLE{
border-spacing:0px !important;
}
.__Select TR:hover *{
BACKGROUND-COLOR:#000000;
COLOR:#FDFDE4;
}
.__Select TD{
PADDING-LEFT:3px;
PADDING-RIGHT:3px;
WHITE-SPACE:nowrap;
}
.__Select td:nth-child(1){
font-family:eDes;
font-size:50%;
text-align:center;
width:14px;
padding-left:4px;
}
.__Select i{
font-size:50%;
margin-right:5px;
COLOR:#000000;
}
.__SelectOVER{
}
.__SelectOUT{
}
.__Select .__SelectOn{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
}
.__Select .__Selected{
BACKGROUND-COLOR:#FDFDE4;
COLOR:#000000;
}
.__SelectLine{
BACKGROUND-COLOR:#000000;
}
.CARDBOX{
margin:0px;
padding:20px;
display:flex;
flex-wrap:wrap;
}
.card{
display:inline-table;
float:left;
border:1px solid #dddddd;
color:#333333;
background-color:#ffffff;
margin-right:20px;
margin-top:20px;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:5px 10px 10px 10px;
box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
}
.card-inside{
border:1px solid #dddddd;
border-radius:10px;
padding:5px 10px 5px 10px;
box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
}
.card-header{
font-weight:bold;
font-size:17px;
color:#555555;
white-space:break-spaces;
width:100%;
}
.card-title{
padding-top:15px;
font-weight:bold;
font-size:15px;
color:#555555;
margin:0 0 10px;
white-space:nowrap;
float:none;
}
.card-separator{
background-color:#aaaaaa;
height:1px;
margin-top:5px;
margin-bottom:3px;
}
.card LABEL, .card #LD{
display:flex;
width:100%;
}
.card #LD{
margin-top:8px;
}
.card .SELECTINPUT{
width:100%;
display:flex;
}
.card INPUT, .card TEXTAREA{
width:100%;
margin-left:0px;
}
.card I{
padding-top:5px;
}
.card img{
margin-left:5px;
}
.card-foot{
text-align:right;
position:fixed;
right:10px;
bottom:5px;
display:inline-block;
}
.card-table{
display:table;
}
.card-row{
display:flex;
width:100%;
}
.card-td100{
width:100%;
display:flex;
}
.card-td{
display:flex;
}
FORM{
border:0px;
margin:0px;
padding:0px;
}
textarea{
overflow:auto;
vertical-align:top;
}
.ICONINPUT.CARDICON{
margin-right:8px;
}