BODY {
CURSOR: default;
MARGIN: 0px;
PADDING-BOTTOM: 0px;
PADDING-LEFT: 0px;
PADDING-RIGHT: 0px;
PADDING-TOP: 0px;
TEXT-ALIGN: center;
scroll: no;
}
TD {
FONT-FAMILY: Arial;
PADDING-BOTTOM: 2px;
PADDING-LEFT: 2px;
PADDING-RIGHT: 2px;
PADDING-TOP: 2px;
}
TH {
FONT-FAMILY: Arial;
PADDING-BOTTOM: 2px;
PADDING-LEFT: 2px;
PADDING-RIGHT: 2px;
PADDING-TOP: 2px;
}
.TITULO {
COLOR: #0016b4;
FONT-SIZE: 22px;
PADDING-BOTTOM: 5px;
PADDING-LEFT: 5px;
PADDING-RIGHT: 5px;
PADDING-TOP: 5px;
}
.nPREGUNTA {
BORDER-BOTTOM: #0016b4 1px solid;
BORDER-RIGHT: #0016b4 1px solid;
BORDER-TOP: #0016b4 1px solid;
COLOR: #000000;
FONT-SIZE: 18px;
PADDING-LEFT: 5px;
PADDING-RIGHT: 5px;
}
.PREGUNTA {
BORDER-BOTTOM: #0016b4 1px solid;
BORDER-TOP: #0016b4 1px solid;
COLOR: #0016b4;
FONT-SIZE: 20px;
PADDING-LEFT: 5px;
}
.RESPUESTAS {
PADDING-LEFT: 25px;
}
.RESPUESTA {
COLOR: #0016b4;
FONT-SIZE: 18px;
}
.ResOrdenar {
BACKGROUND: #cccccc;
}
.ResOrdenar TD {
BACKGROUND: #fffff1;
}
.BOTONES {
BORDER-TOP: #0016b4 1px solid;
}
.Boton {
COLOR: #bf5300;
FONT-SIZE: 12px;
}
#OCULTO {
DISPLAY: none;
}