html, body{
height: 100%;
}
body{
font-family: Arial, Helvetica;
margin: 0;
padding: 0;
background-color: red;
background-image: -webkit-gradient(linear, left top, right bottom, from(#ebeef2), to(#d9dee2));
background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
background-image: linear-gradient(top, #ebeef2, #d9dee2);
scroll:no;
}
#login{
background-color: blue;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
background-image: linear-gradient(top, #ffffff, #eeeeee);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-align:left;
border-width: 1px;
border-style: solid;
border-color: #aaaaaa;
}
img{
margin-top:5px;
margin-left:5px;
}
#username{
margin: 0 0 5px 0;
}
#password{
margin: 0 0 5px 0;
}
#username, #password{
margin-left:5px;
padding: 5px 5px 5px 25px;
border: 1px solid #cccccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #ffffff;
-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #ffffff;
box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #ffffff;
}
#username{
background-color: #f1f1f1;
background-position: 5px 5px;
margin-right: 3px;
}
#password{
background-color: #f1f1f1;
background-position: 5px 5px;
margin-right: 3px;
}
#username:focus, #password:focus{
background-color: #ffffff;
border-color: #e8c291;
outline: none;
-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
-moz-box-shadow: 0 0 0 1px #e8c291 inset;
box-shadow: 0 0 0 1px #e8c291 inset;
}
#BSubmit{
background-color: #ffcc99;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffcc), to(#ffcc99));
background-image: -webkit-linear-gradient(top, #ffffcc, #ffcc99);
background-image: -moz-linear-gradient(top, #ffffcc, #ffcc99);
background-image: -ms-linear-gradient(top, #ffffcc, #ffcc99);
background-image: -o-linear-gradient(top, #ffffcc, #ffcc99);
background-image: linear-gradient(top, #ffffcc, #ffcc99);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
border-width: 1px;
border-style: solid;
border-color: #d69e31 #e3a037 #d5982d #e3a037;
padding: 5px 20px 5px 20px;
cursor: pointer;
font-weight: bold;
color: #8f5a0a;
margin-right:3px;
}
#BSubmit:hover, #BSubmit:focus {
background-color: #ffffcc;
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc99), to(#ffffcc));
background-image: -webkit-linear-gradient(top, #ffffcc, #f79800);
background-image: -moz-linear-gradient(top, #ffffcc, #f79800);
background-image: -ms-linear-gradient(top, #ffffcc, #f79800);
background-image: -o-linear-gradient(top, #ffffcc, #f79800);
background-image: linear-gradient(top, #ffffcc, #f79800);
}