.BODYLIST {
BACKGROUND-COLOR:{$pBody};
FONT-SIZE:{$fBase};
MARGIN:0px;
cursor:var(--cAuto);
}
#PAGINA {
PADDING:{%7}px {%5}px {%5}px {%5}px;
cursor:var(--cAuto);
}
TABLE {
display:inline-block;
}
TD {
white-space:nowrap;
hyphens:none;
}
#O, #o { DISPLAY:none; }
#I { TEXT-ALIGN:left; }
#C { TEXT-ALIGN:center; }
#D { TEXT-ALIGN:right; }
.Visited > * {
color:#b6b6b6 !important;
font-style:italic !important;
}
#BROWSE mark {
background-color: mark !important;
color: marktext !important;
}
.BROWSE TH {
cursor:var(--cAuto);
}
.BROWSE TH[nc] {
cursor:var(--cContext);
}
.TRHidden {
display:none;
}
TR#SaltoPag {
PAGE-BREAK-AFTER:always;
}
#UtilList IMG {
vertical-align:baseline;
}
.TITULO {
MARGIN-TOP:{%6}px;
MARGIN-BOTTOM:0px;
PADDING-BOTTOM:0px;
cursor:var(--cAuto);
}
#TITULO {
{$fcaption}
COLOR:{$cTitleMain};
}
#TITULO span {
{$fcaption}
COLOR:{$cTitleMain};
font-size:100%;
}
#TITULO .LastGetions {
font-weight: normal;
}
.TOOLBAR .TITULO {
border-bottom: 1px solid {$cLine};
}
.Titulo2 {
{$ftext}
COLOR:{$cTitleSecondary};
CURSOR:var(--cPointer);
MARGIN-BOTTOM:{%7}px;
}
#CONDICIONES {
BACKGROUND-COLOR:transparent;
MARGIN-BOTTOM:{%7}px;
}
#CONDICIONES TH {
BACKGROUND-COLOR:transparent;
COLOR:{$cListCondition};
CURSOR:var(--cPointer);
PADDING:0px;
TEXT-ALIGN:left;
TEXT-DECORATION:underline;
}
#CONDICIONES TD {
BACKGROUND-COLOR:transparent;
COLOR:{$cListCondition};
CURSOR:var(--cPointer);
}
.CHANGEFILTER {
color:{$cListCondition};
}
.ButtonMultiple TABLE {
margin-left:{%5}px;
}
.ButtonMultiple TD:nth-child(1) TABLE {
margin-left:0px;
}
.ButtonMultiple TD {
font-size:{$fBase};
padding:{%1}px 0px {%1}px 0px !important;
}
#SubTitle {
display:contents;
}
#SubTitle TABLE {
{$ftext}
COLOR:{$cTitleBegin};
BACKGROUND-COLOR:transparent;
MARGIN-BOTTOM:0px;
}
.MarkedRow {
BACKGROUND-COLOR:{$pListGreenbar} !important;
COLOR:{$cListGreenbar} !important;
}
#FootTitle {
{$ftext}
COLOR:{$cTitleEnd};
MARGIN-TOP:{%7}px;
}
#Paginacion {
MARGIN-TOP:{%7}px;
}
.Flotante {
BACKGROUND-COLOR:#bbbbbb;
}
#sT {
BACKGROUND-COLOR:transparent;
COLOR:{$cTitleBegin};
FONT-SIZE:100%;
}
.Celda2 {
BACKGROUND-COLOR:{$cListGrid};
COLOR:#0b0011;
}
.JSOnClickRow {
BACKGROUND-COLOR:#f2f3df !important;
CURSOR:var(--cPointer);
}
HR {
BACKGROUND-COLOR:#336600;
COLOR:#332211;
}
.SelectON {
BACKGROUND-COLOR:#ffd2c0 !important;
COLOR:#000000 !important;
}
.ISubListBODY {
BACKGROUND-COLOR:#fafafa;
}
#ToolsPaginate .ReadOnly {
BACKGROUND-COLOR:#dcf3ff;
COLOR:#333333;
}
#CngRESPUESTA {
BACKGROUND-COLOR:#789aab;
BORDER:#789aab {%2}px outset;
COLOR:#ffffff;
CURSOR:var(--cPointer);
FONT-SIZE:130%;
FONT-WEIGHT:bold;
PADDING-TOP:{%15}px {%30}px {%15}px {%30}px;
}
#MensaError {
BACKGROUND-COLOR:#ff0000;
BORDER:#aa2200 {%3}px solid;
COLOR:#ffffcc;
FONT-SIZE:130%;
FONT-WEIGHT:bold;
PADDING-TOP:{%15}px {%30}px {%15}px {%30}px;
}
.iWIN {
BACKGROUND-COLOR:#ffffce;
BORDER:#ffffce {%2}px outset;
PADDING-BOTTOM:{%5}px;
PADDING-LEFT:{%5}px;
PADDING-RIGHT:{%5}px;
PADDING-TOP:{%4}px;
}
.Cargando {
COLOR:#979da0;
CURSOR:var(--cPointer);
FONT-SIZE:{$fBase};
TEXT-ALIGN:center;
VERTICAL-ALIGN:middle;
}
#MasInfo {
display:none;
text-align:left;
--white-space:nowrap;
padding:{%10}px {%15}px {%10}px {%15}px;
cursor:var(--cPointer);
position:absolute;
border:{%1}px solid {$bInfo};
color:{$cInfo} !important;
background: {$pInfoIni};
background: -moz-linear-gradient(top, {$pInfoIni} 0%, {$pInfoEnd} 100%);
background: -webkit-linear-gradient(top, {$pInfoIni} 0%, {$pInfoEnd} 100%);
background: linear-gradient(to bottom, {$pInfoIni} 0%, {$pInfoEnd} 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='{$pInfoIni}', endColorstr='{$pInfoEnd}', GradientType=0);
{$roundedBig}
{$shadowObj}
}
#MasInfo CENTER {
FONT-WEIGHT:bold;
}
.EditList {
BACKGROUND-COLOR:{$pEditList};
COLOR:{$cEditList};
CURSOR:var(--cContext);
}
.EditListGreenBar {
BACKGROUND-COLOR:{$pEditListGreenBar};
COLOR:{$cEditListGreenBar};
}
.EditListCursor {
BACKGROUND-COLOR:#cec384 !important;
}
.SelectList {
BORDER:#584f1e {%1}px solid;
HEIGHT:{%150}px;
}
.SelectList TABLE {
BACKGROUND-COLOR:#d1c282;
}
.SelectList TD {
BACKGROUND-COLOR:#ffed9f;
COLOR:#6f6100;
}
.SelectList .SelON {
BACKGROUND-COLOR:#cfc081;
COLOR:#6f6100;
}
#GC1 {
BACKGROUND-COLOR:{$pGC1};
COLOR:{$cGC1};
FONT-SIZE:120%;
FONT-WEIGHT:bold;
PADDING-LEFT:{%2}px;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR1 {
BACKGROUND-COLOR:{$pGR1};
COLOR:{$cGR1};
FONT-SIZE:120%;
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD1 {
PADDING-LEFT:{%2}px;
}
#GRCOL1 {
PADDING-LEFT:{%15}px;
}
#GC2 {
BACKGROUND-COLOR:{$pGC2};
COLOR:{$cGC2};
FONT-SIZE:110%;
FONT-WEIGHT:bold;
PADDING-LEFT:{%15}px;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR2 {
BACKGROUND-COLOR:{$pGR2};
COLOR:{$cGR2};
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD2 {
PADDING-LEFT:{%15}px;
}
#GRCOL2 {
PADDING-LEFT:{%25}px;
}
#GC3 {
BACKGROUND-COLOR:{$pGC3};
COLOR:{$cGC3};
FONT-WEIGHT:bold;
PADDING-LEFT:{%25}px;
TEXT-ALIGN:left;
cursor:var(--cPointer);
}
#GR3 {
BACKGROUND-COLOR:{$pGR3};
COLOR:{$cGR3};
FONT-WEIGHT:bold;
TEXT-ALIGN:left;
}
#GRTD3 {
PADDING-LEFT:{%25}px;
}
#GRCOL3 {
PADDING-LEFT:{%35}px;
}
#GC4 {
BACKGROUND-COLOR:{$pGC4};
COLOR:{$cGC4};
PADDING-LEFT: 35px;
FONT-WEIGHT: bold;
TEXT-ALIGN: left;
cursor:var(--cPointer);
}
#GR4 {
BACKGROUND-COLOR:{$pGR4};
COLOR:{$cGR4};
FONT-WEIGHT: bold;
TEXT-ALIGN: left;
}
#GRTD4 {
PADDING-LEFT: 35px;
}
#GRCOL4 {
PADDING-LEFT: 45px;
}
.SubMenu {
BACKGROUND-COLOR:#ffffff;
BORDER:#cccccc {%1}px outset;
POSITION:absolute;
}
.SubMenu TR {
BACKGROUND-COLOR:#ffffff;
COLOR:#000000;
FONT-SIZE:{$H5};
FONT-WEIGHT:normal;
}
.SubMenu TD {
CURSOR:var(--cPointer);
}
.SubMenu .ON {
BACKGROUND-COLOR:#fcf3ef;
COLOR:#000000;
FONT-WEIGHT:normal;
}
.SubMenu .Linea {
BACKGROUND-COLOR:#808080;
CURSOR:var(--cPointer);
FONT-SIZE:{%1}px;
}
.SubMenu .TITULO {
BACKGROUND-COLOR:#cf4000;
BORDER-BOTTOM:#c8c3c0 {%1}px outset;
COLOR:#ffffff;
FONT-SIZE:100%;
CURSOR:var(--cPointer);
TEXT-ALIGN:center;
}
.SubMenu .FilterSubTitle {
BACKGROUND-COLOR:#d9dee3;
BORDER-BOTTOM:#b0b4b8 {%1}px solid;
COLOR:#000000;
TEXT-ALIGN:center;
}
.CALCULATOR {
BACKGROUND-COLOR:{$pSubMenu};
BORDER:{$bSubMenu} {%1}px solid;
PADDING:0px;
TOP:0px;
{$shadowObj}
}
.CALCULATOR TABLE {
border-collapse:collapse;
}
.CALCULATOR TABLE TR {
BACKGROUND-COLOR:{$pSubMenu};
COLOR:{$cSubMenu};
{$foption}
}
.CALCULATOR TABLE TH {
BACKGROUND-COLOR:{$pSubMenuHeader};
COLOR:{$cSubMenuHeader};
}
.CALCULATOR TABLE I {
COLOR:{$cSubMenuHeader};
}
.CALCULATOR TABLE TD {
}
.CALCULATOR .Linea {
BORDER-BOTTOM:{$bSubMenu} {%1}px solid;
}
.SubMenuFoot {
border-top:{%1}px solid #BCA7B4;
border-collapse:collapse;
}
.SubMenuFoot TD {
padding:0px;
background-color:white;
}
.SubMenuFoot TABLE {
border-collapse:collapse;
}
.SubMenuFoot TABLE TD {
padding:{%3}px;
}
.SubMenuFoot .ON {
BACKGROUND-COLOR:#cf0c00;
COLOR:#f7efff;
}
.SubMenuFoot .Separator {
border-right:{%1}px solid #BCA7B4;
}
.CHART_STORE {
display:none;
text-align:center;
margin:{%5}px {%5}px 0px {%5}px;
}
.CHART_SYSTEM, .CHART_USER {
margin:{%5}px;
float:left;
}
.HTML_IN_TD {
display:table;
}
.HTML_IN_TD TBODY TR {
background-color:transparent;
}
.HTML_IN_TD #CNT {
display:table-cell;
text-align:left;
}
.MENUFOOTLIST {
DISPLAY:table;
BACKGROUND-COLOR:{$pSubMenu};
COLOR:{$cSubMenu};
bottom:0px;
border-top:{$bSubMenu} {%1}px outset;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:0px;
}
.MENUFOOTLIST TD {
padding-right:20px;
{$fbutton}
}
.MENUFOOTLIST TD.OP:hover {
BACKGROUND-COLOR:{$pSubMenuCursor};
COLOR:{$cSubMenuCursor};
CURSOR:var(--cPointer);
}
.MENUFOOTLIST_ON {
BACKGROUND-COLOR:{$pSubMenuCursor};
COLOR:{$cSubMenuCursor};
}
.MENUFOOTLIST .SEPARATOR {
border-left:{$bSubMenu} {%1}px outset;
width:1px;
padding:0px;
}
#MenuFootLeft {
border-right:1px solid {$bSubMenu};
padding:3px 4px 3px 2px;
background-color:{$pSubMenu};
}
#MenuFootRight {
border-left:1px solid {$bSubMenu};
padding:3px 3px 3px 4px;
background-color:{$pSubMenu};
}
#MenuFootLeft:hover, #MenuFootRight:hover {
background-color:{$pSubMenuCursor};
}
#TablaTH {
-webkit-box-shadow: 0px 5px 0px 0px rgba(200, 200, 200, 0.2);
-moz-box-shadow: 0px 5px 0px 0px rgba(200, 200, 200, 0.2);
box-shadow: 0px 5px 0px 0px rgba(200, 200, 200, 0.2);
}
#TablaTV, #TablaTE {
-webkit-box-shadow: 5px 0px 0px 0px rgba(200, 200, 200, 0.2);
-moz-box-shadow: 5px 0px 0px 0px rgba(200, 200, 200, 0.2);
box-shadow: 5px 0px 0px 0px rgba(200, 200, 200, 0.2);
}
.MENULTOOLS {
visibility:hidden;
position:fixed;
right:1px;
}
.MENULTOOLS I {
vertical-align:top;
cursor: var(--cPointer);
}
.MENULTOOLS TD {
vertical-align:text-bottom;
padding:8px;
cursor: var(--cPointer);
}
.MENULTOOLS .SUBMENU TD {
display:table-cell;
}
.MENULTOOLS:hover td:nth-child(2) {
display:table-cell;
text-align:left;
}
#MENUTRFLOAT {
position:absolute;
left:0px;
top:0px;
visibility:hidden;
padding-left:15px;
padding-right:5px;
}
#MENUTRFLOAT > * {
padding-left:5px;
}
.MENUTROPACITY {
opacity:0.2;
filter:alpha(opacity:20);
cursor:var(--cPointer);
}
.ToolsBar {
display: block;
background-color:#ffffff;
color:#555555;
margin-top:10px;
margin-bottom:10px;
text-align:left;
font-size:12px;
padding-top: 5px;
padding-bottom: 5px;
cursor:var(--cAuto);
}
.ToolsBar I {
font-size:15px;
}
.ToolsBar .Button I {
margin-right:5px;
}
.ToolsTDIZQ {
display:table-cell;
white-space:nowrap;
}
.ToolsTDIZQ I {
font-size:15px;
color:{$cIconTitle};
}
.ToolsTDDCH {
display:table-cell;
text-align:right;
white-space:nowrap;
width:100%;
}
.ToolsTDDCH I {
font-size:11px;
}
*****************/
.ToolsBar {
background-color:#ffffff;
color:#555555;
margin-top:10px;
margin-bottom:10px;
text-align:left;
font-size:12px;
}
.ToolsBar I {
font-size:15px;
}
.PaginationBar {
display:flex;
background-color:#ffffff;
color:#555555;
margin-top:10px;
margin-bottom:10px;
text-align:left;
font-size:12px;
white-space:nowrap;
}
.PaginationBar I {
font-size:7px;
}
.Button {
border:1px solid #d0d0d0;
display: inline-flex;
padding: 0px;
align-items: center;
}
.ButtonIn {
border: none;
background-color:#f2f2f2;
color:#555555;
padding:8px 10px 6px 10px;
cursor:var(--cPointer) !important;
}
.ButtonIn:hover {
background-color:{$pButtonOverMid};
color:{$cButton};
}
.ButtonIn:hover I {
background-color:{$pButtonOverMid};
color:{$cButton};
}
.ButtonIn:active {
background-color:{$pButtonClickMid};
color:{$cButton};
}
.ButtonIn span {
margin-left:7px;
}
.ButtonInNO {
border:0px solid green;
background-color:#f2f2f2;
color:#555555;
padding:8px 10px 6px 10px;
}
.Activated {
background-color:{$pButtonClickMid};
color:{$cButton};
}
.NoRight {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
min-width:15px;
text-align:center;
}
.NoLeft {
border-left:1px solid #d0d0d0;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
min-width:15px;
text-align:center;
}
.NoCenter {
border-left:1px solid #d0d0d0;
border-radius: 0px;
min-width:15px;
text-align:center;
}
.MasMargin {
padding-left:20px;
padding-right:20px;
}
.ButtonMargin {
width:30px;
display: inline-block;
}
.SELECT * {
display:block;
}
.SELECT TD {
display:block;
}
.SELECT .MONOSPACE TD {
font-family: monospace;
}
#CONTENEDOR .card:first-of-type {
--margin-left:15px;
}
.CONTENEDORCARD {
display:none;
float:left;
margin-top:10px;
margin-bottom:0px;
}
.card {
border:1px solid #dddddd;
color:#333333;
background-color: #ffffff;
margin:0px 20px 20px 0px;
padding:7px 0px 5px 0px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
float:left;
}
.card .title-color {
color: {$pDesktop};
}
.card-title {
display:inline-table;
padding-top:15px;
font-weight: bold;
font-size: 15px;
color: {$pDesktop};
-margin: 0 0 10px;
white-space: nowrap;
width:100%;
line-height: 0px;
}
.card-separator {
display:block;
background-color:{$pDesktop};
height:1px;
margin-top:5px;
margin-bottom:3px;
margin-left:0px;
margin-right:0px;
width:100%;
}
.card table {
display: table;
border-collapse:collapse;
width:100%;
margin-left:10px;
margin-right:10px;
padding: 5px 10px 10px 10px;
}
.card-line {
display: table-cell;
padding: 0px;
background-color:#aaaaaa;
height:1px;
}
.card table td:nth-child(1) {
font-weight:bold;
padding-right:10px;
width:1px;
}
.card table td:nth-child(2) {
width:100%;
}
#filterTR {
font-size: 14px;
width: 230px;
height: 20px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
padding-left: 35px !important;
}
#spanFilterTR:before {
font-family:eDes;
font-size:12px;
content:"f";
left:30px;
position:relative;
color:#dddddd;
}