@font-face {
font-family: 'eDes';
font-weight: normal;
font-style:  normal;
text-transform:none;
font-display:fallback;
src: url('fonts/edes.woff?v=4.7.0') format('woff'),
url('fonts/edes.ttf?v=4.7.0') format('truetype'),
url('fonts/edes.svg?v=4.7.0#fontawesomeregular') format('svg'),
url('fonts/edes.eot'),
url('fonts/edes.eot?#iefix&v=4.7.0') format('embedded-opentype');
}
@font-face {
font-family: 'numbers';
font-weight: 400;
font-style:  normal;
font-display:fallback;
src: url('fonts/enumbers.woff') format('woff'),
url('fonts/enumbers.ttf') format('truetype'),
url('fonts/enumbers.svg#enumbers') format('svg'),
url('fonts/enumbers.eot'),
url('fonts/enumbers.eot?#iefix') format('embedded-opentype');
}
{$FUENTES}
* {
{$fontFamily}
cursor:var(--cAuto);
}
body, html {
height: 100%;
width: 100%;
}
BODY {
background-color: #FFFFFF;
scroll: no;
overflow-y: hidden;
overflow-x: hidden;
margin:0px;
padding:0px;
}
.cHEAD {
height:100px;
text-align:center;
vertical-align:middle;
background-color:{$pDesktop};
}
.cHEAD IMG {
cursor:var(--cAuto);
}
#LOGODESKTOP {
max-height:90%;
cursor:var(--cAuto);
}
.cBODY {
height:100%;
background-color: #F2F2F2;
}
.cFOOT {
height:190px;
text-align:center;
vertical-align:middle;
background-color: #dddddd;
}
.cTITLE {
text-align:center;
padding:20px;
background-color:#ffffff;
color:#555555;
webkit-border-radius:10px 10px 0px 0px;
moz-border-radius:10px 10px 0px 0px;
border-radius:10px 10px 0px 0px;
}
.Titulo1 {
font-size:24px;
font-weight:bold;
}
.Titulo2 {
font-size:16px;
}
.cLOGIN {
background-color:#f9f9f9;
padding:30px 65px 40px 85px;
webkit-border-radius:0px 0px 10px 10px;
moz-border-radius:0px 0px 10px 10px;
border-radius:0px 0px 10px 10px;
}
I {
font-family: eDes;
font-style: normal;
font-size: 10px;
color:{$pDesktop};
cursor:var(--cPointer);
}
.ICONCONTEXT {
cursor:var(--cContext);
}
#L--ONGITUD {
min_login: 5;
max_login: 65;
min_password: 5;
max_password: 20;
key_case: 0;		 */
}
#RECIPIENTE {
display:table;
border:1px solid #cccccc;
webkit-border-radius:10px;
moz-border-radius:10px;
border-radius:10px;
box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
}
#Path {
margin-right:20px;
}
#LabelPath, #LabelLogin, #LabelPassword {
text-align:left;
font-size: 15px;
color: #555555;
font-weight: bold;
--cursor: var(--cAuto);
margin-bottom: 5px;
margin-top: 10px;
margin-left: 10px;
}
INPUT, TEXTAREA {
font-size:14px;
border: 1px solid #999999;
webkit-border-radius:5px;
moz-border-radius:5px;
border-radius:5px;
padding-left: 10px;
width:326px;
background-color:#ffffff;
padding-top: 10px;
padding-bottom: 10px;
resize: none;
height: 1em;
cursor:var(--cText);
}
INPUT:focus, TEXTAREA:focus {
border: 1px solid {$pDesktop};
}
.CheckChar {
width:17px;
}
#Cargando {
font-weight: bold;
font-size: 25px;
background: {$pDesktop};
border: 2px outset {$pDesktop};
}
#IconAccept {
display: block;
font-size:14px;
width: 295px;
padding-top:10px;
padding-bottom:10px;
margin-top: 20px;
margin-bottom: 10px;
margin-right: 20px;
webkit-border-radius:5px;
moz-border-radius:5px;
border-radius:5px;
border-width: 0px;
color: {$cTree};
background-color: {$pTree};
box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
cursor:var(--cPointer);
}
#IconAccept:hover {
BACKGROUND-COLOR:{$pTreeCursor};
COLOR:{$cTreeCursor};
}
#infRemember {
display: contents;
font-size:14px;
color:#555555;
padding-right:10px;
}
#IconRemember {
font-size:14px;
text-decoration: underline;
color: {$pDesktop};
font-weight: bold;
cursor:var(--cPointer);
}
#cookiesTitle {
font-size:16px;
font-weight:bold;
color:#555555;
}
#cookiesText {
font-size:16px;
color:#555555;
padding-left: 15%;
padding-right: 15%;
text-align: justify;
}
#cookiesLink {
font-size:16px;
color: {$pDesktop};
cursor:var(--cPointer);
}
#IconAccept2 {
color: {$pDesktop};
cursor:var(--cPointer);
}
#waitEmail {
color: red;
}
.blink {
animation: blink-animation 1s steps(5, start) infinite;
-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
to {
visibility: hidden;
}
}
@-webkit-keyframes blink-animation {
to {
visibility: hidden;
}
}
.SCROLLBAR::-webkit-scrollbar {
-webkit-appearance: none;
cursor:var(--cPointer);
background-color: transparent;
}
.SCROLLBAR::-webkit-scrollbar:vertical {
width:12px;
}
.SCROLLBAR::-webkit-scrollbar-button:increment, .SCROLLBAR::-webkit-scrollbar-button {
display: none;
}
.SCROLLBAR::-webkit-scrollbar:horizontal {
height: 12px;
}
.SCROLLBAR::-webkit-scrollbar-thumb {
background-color: #cccccc;
border-radius: 20px;
border: 1px solid #bbbbbb;
}
.SCROLLBAR::-webkit-scrollbar-track {
border-radius: 12px;
}
.cookieLongBoxExt {
display:none;
text-align: -webkit-center;
position:absolute;
left:0px;
-top:0px;
width:100%;
height:100%;
background-color:rgb(204, 204, 204, 0.5);
padding-top:50px;
padding-bottom:50px;
justify-content:center;
}
.cookieLongBox {
background-color:#ffffff;
display:block;
width: 80%;
max-height: 80%;
top: 10%;
overflow-y:auto;
border:1px solid #cccccc;
webkit-border-radius:10px;
moz-border-radius:10px;
border-radius:10px;
box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:0px 0px 5px 2px rgba(0,0,0,0.2);
}
.cookieLongTitle TH {
text-align: center;
font-weight: bold;
font-size: 24px;
color:{$pDesktop};
background-color:#ffffff;
}
.cookieLongText {
color:#555555;
padding-top:30px;
}
.cookieLongBox {
max-width: 80%;
max-height: 80%;
}
.maxInfo {
position: relative;
border-collapse: collapse;
}
.maxInfo td, .maxInfo th {
padding: 0.25em;
}
.maxInfo thead th {
position: -webkit-sticky;
position: sticky;
top: 0px;
}
.maxInfo thead th:first-child {
left: 0px;
z-index: 1;
}
#MENSAJE {
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
display: none;
background: rgba(0,0,0,0.2);
cursor: var(--cPointer);
}
#MENSAJE SPAN {
display: inline-block;
background: #F5F5F5;
color: #333333;
border: 1px solid #A4A4A4;
padding: 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
#TERMINAR {
position:absolute;
left:0px;
top:0px;
width: 100%;
height: 100%;
display: none;
background: rgba(0,0,0,0.5);
cursor: var(--cPointer);
}
#TERMINAR SPAN {
display: inline-block;
background: #D9534F;
color: #ffffff;
border: 1px solid #C02E29;
padding: 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}